<div>
	<div class="loading ng-show" ng-hide="stations">
		<i class="fa fa-spinner fa-spin fa-3x"></i>
	</div>
	<div ng-show="stations">
		<div class="ng-hide" ng-hide="userLocation">
			<p><i class="fa fa-globe fa-3x"></i></p>
			<p>Please share your location with this app in order to find Dublin Bike stations near you.</p>
		</div>
		<ul class="list-inline">
			<li><a class="h6 ng-hide" ng-class="{'badge': predicate == 'distance'}" ng-show="userLocation" ng-click="predicate = 'distance'; quantity = 10">Nearest 10 Stations</a></li>
			<li><a class="h6" ng-class="{'badge': predicate == 'name'}" ng-click="predicate = 'name'; quantity = stations.length">All Stations</a></li>
		</ul>
		<ul class="list-group text-left">
			<div class="list-group-item" ng:repeat="station in stations | orderBy:predicate | limitTo:quantity" ng-class="{'list-group-item-success': station.free_bikes > 0, 'list-group-item-danger': station.free_bikes == 0}">
				<h5 class="list-group-item-heading">{{station.name}} <small class="pull-right" ng-show="station.distance">{{station.distance | geoDistance}}</small></h5>
				<p class="list-group-item-text"><span class="label" ng-class="{'label-success': station.free_bikes > 0, 'label-danger': station.free_bikes == 0}">{{station.free_bikes}} free bikes</span> <span class="label" ng-class="{'label-success': station.empty_slots > 0, 'label-danger': station.empty_slots == 0}">{{station.empty_slots}} slots available</span></p>
			</div>
		</ul>
	</div>
</div>
